<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     {% load static %}
      <link href="{% static '/css/add.css' %}" rel="stylesheet">

</head>
<body>
<form method="post" action="">
    {% csrf_token %}
  <fieldset>
      <legend>Stock Form</legend>
    <div>
        <label for="stock_id">Stock Id</label>
        <input id="stock_id" type="number" name="stock_id">
    </div>
     <div>
        <label for="stock_name">Name</label>
        <input id="stock_name" type="text" name="stock_name">
    </div>
    <div>
        <label for="stock_type">Stock_Type</label>
        <input id="stock_type" type="text" list="stock_types" name="stock_type">
    </div>
    <div>
        <label for="qty">Quantity</label>
        <input id="qty" type="number" name="qty">
    </div>
    <div>
        <label for="price">Price</label>
        <input id="price" type="number" name="price">
    </div>
    <div>
        <input type="submit" value="Submit"/>
    </div>
  </fieldset>
</form>
<datalist id="stock_types">
    <option>CPU_CHIP</option>
    <option>RAM</option>
    <option>GPU_CHIP</option>
</datalist>
</body>
</html>