<!-- myapp/templates/myapp/display_patients.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stocks Data</title>
</head>
<body>
    <h1>Stocks Data</h1>
    <table >
        <thead>
            <tr>
                <th>Stock Id</th>
                <th>Name</th>
                <th>Qty</th>
                  <th>Price</th>
                <!-- Add more columns for additional fields -->
            </tr>
        </thead>
        <tbody>
            {% for stock in stocks %}
                <tr>
                    <td>{{ stock.id}}</td>
                    <td>{{stock.name }}</td>
                    <td>{{ stock.qty }}</td>
                    <td>{{ stock.price }}</td>
                    <!-- Add more cells for additional fields -->
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>